:root {
    --footer-height: 40px;
}

html, body {
    max-height: 100%;
    max-width: 100%;
    padding: 10px 20px 0;
    margin: 0;
}

main {
    min-height: 100%;
    padding-bottom: var(--footer-height);
}

footer {
    height: var(--footer-height);
    margin-top: calc(-1 * var(--footer-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

.scaling-grid-rows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 600px));
    grid-gap: 10px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#tool-enable-disable-form {
    display: grid;
    grid-template-columns: 300px 25px;
    grid-row-gap: 5px;
}

h1.centered {
    text-align: center;
}

.editor-container {
    margin: auto;
}

.editor-container, #common-feedback-editor {
    width: 550px;
}

#common-feedback-editor {
    height: 375px;
}